/*
 * Bood default stylesheet
 * Author:  Jaeho Shin <netj@sparcs.kaist.ac.kr>
 * Created: 2004-07-27
 */

/* some styles for tags */
html {
}

body {
    font-family: serif;
}
pre, tt, textarea, input {
    font-family: monospace;
}

textarea, input {
    font-size: 0.9em;
}

address {
    font-style: normal;
}



hr {
    border-style: none;
    border-top-style: solid;
    margin: 0px;
}

form {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

#body h1, #body h2, #body h3, #body h4, #body h5, #body h6 {
    clear: both;
}
#body h1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#body p {
    margin: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
}
#body pre {
    white-space: pre;
    overflow: auto;
    margin: 0.5em;
    padding: 0.5em;
}
#body pre.formatted {
    white-space: pre-wrap;
    overflow: show;
}

#body table {
    margin: 1em;
}
#body table td, #body table th {
    margin: 0.5em;
}
#body img {
    max-width: 100%;
}

#title {
    margin: 0em;
}
#updating {
    font-size: 0.9em;
    text-align: right;
}

#foot {
    font-size: 0.9em;
}


/* Status: draft */
body.draft #body {
    opacity: 0.5;
}
body.draft #modified:before {
    content: '(DRAFT) ';
}
