/*
 * Bood default stylesheet
 * Author:  Jaeho Shin <netj@sparcs.kaist.ac.kr>
 * Created: 2004-07-27
 */

/* some styles for tags */
html {
    color: #222;
    background-color: #ffe;
}

body {
    font-family: serif;
}

textarea, input {
    font-size: 0.9em;
}

pre.code, tt, textarea, input {
    font-family: monospace;
}
pre, tt {
    overflow: auto;
}

address {
    font-style: normal;
}


a:link {
    text-decoration: none;
}
a:link, a:visited {
    color: #f42;
}
a:visited, a:link:hover, a:visited:hover, a:active {
    text-decoration: underline;
}
a:link:hover, a:visited:hover, a:active {
    color: #22f;
}

a:link img, a:visited img {
    border: none;
}


hr {
    border-style: none;
    border-top-style: solid;
    border-color: #ccc;
    margin: 0px;
}

form {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

#body h2, #body h3, #body h4, #body h5, #body h6 {
    clear: both;
}
#body h2 {
    border-bottom: 1px solid #ddd;
}

#body p {
    margin: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
}
#body pre {
    white-space: pre-wrap;
}
#body pre.code {
    padding: 0.5em;
    border: 2px dotted #999;
    background-color: #ccc;
    white-space: pre;
}

#body table {
    margin: 1em;
}
#body table td, #body table th {
    margin: 0.5em;
}
#body table tbody {
    background-color: #ccc;
}
#body table thead {
    background-color: #444;
    border-color: #444;
    color: #ccc;
}
#body table thead th {
    border-color: #444;
}
#body img {
    max-width: 100%;
}

#head, #head *, #foot, #foot * {
    color: #999;
}

#foot {
    font-size: 0.9em;
}

#title {
    margin: 0px;
    color: #114;
}

#updating {
    font-size: 0.9em;
    text-align: right;
}
#updating time {
    display: block;
}
#created {
    color: #333;
}
#modified {
    font-size: 0.8em;
}


/* Status: draft */
body.draft #body {
    opacity: 0.5;
}
body.draft #modified:before {
    content: '(DRAFT) ';
}
